<main>
    <div class="footer">
        <div class="upper">
            <div class="first-container">
                <h3>Stell dir einen Ort vor</h3>
                <div class="social-container">
                    <img src="assets/footer_images/twitter.svg" class="twitter">
                    <img src="assets/footer_images/insta.svg" class="instagram">
                    <img src="assets/footer_images/face.svg" class="facebook">
                    <img src="assets/footer_images/youtube.svg" class="youtube">
                </div>
                <div class="lang-container">
                    <img src="assets/footer_images/german.png" class="german">
                </div>
            </div>

            <div class="footer-nav">
                <div class="nav-item">
                    <h4>Produkt</h4>
                    <ul>
                        <li>Download</li>
                        <li>Nitro</li>
                        <li>Status</li>
                    </ul>
                </div>
                <div class="nav-item">
                    <h4>Unternehmen</h4>
                    <ul>
                        <li>Über</li>
                        <li>Jobs</li>
                        <li>Branding</li>
                        <li>Nachrichtenzentrale</li>
                    </ul>
                </div>
                <div class="nav-item">
                    <h4>Informationen</h4>
                    <ul>
                        <li>Hochschulen</li>
                        <li>Support</li>
                        <li>Sicherheit</li>
                        <li>Blog</li>
                        <li>Feedback</li>
                        <li>Entwickler</li>
                        <li>StreamKit</li>
                    </ul>
                </div>
                <div class="nav-item">
                    <h4>Richtlinien</h4>
                    <ul>
                        <li>Nutzungsbedingungen</li>
                        <li>Datenschutz</li>
                        <li>Cookie-Einstellungen</li>
                        <li>Richtlinien</li>
                        <li>Und unser Dank geht an …</li>
                        <li>Lizenzen</li>
                        <li>Moderation</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="lower">
            <img src="assets/header_images/logo-small.svg" alt="mid-image">

            <app-button class="btn btn-primary" text="{{login.text}}" backColor="{{login.backColor}}"
                color="{{login.color}}" padding="{{login.padding}}" fontWeight="{{login.fontWeight}}"[showBtn]="true"></app-button>
        </div>


    </div>
</main>