<!-- <app-xbox></app-xbox> -->

<app-header
  [h1]="h1"
  [text]="text"
  [showDownBtn]="showDownIco"
  [showBrowserBtn]="showBrowserBtn"
  [heroContainer1]="heroContainer1"
  [mainHeroST3]="mainHeroST3"
  [heroTextST4]="heroTextST4"
  [button1ST]="button1ST"
  [button1Text]="button1Text"
  [showDownIco]="true"
  [showButton2]="true"
  [button2Text]="button2Text"
  [button2ST]="button2ST"
  [heroButtonsST4]="heroButtonsST4"
  [textTitleST5]="textTitleST5"
></app-header>

<div class="main">
  <div class="container">
    <div class="first-container">
      <img src="assets/pages/Home/first-main.svg" alt="s" />
      <div style="margin-left: 110px" class="text">
        <h2>Ein Ort nur für dich und deine Freunde</h2>
        <p>
          Discord-Server sind in themenbasierte Kanäle eingeteilt. So kannst du
          mit anderen arbeiten, Inhalte teilen und über das Tagesgeschehen
          reden, ohne einen Gruppenchat zuzuspammen.
        </p>
      </div>
    </div>
    <div class="second-container">
      <div style="margin-right: 110px" class="text">
        <h2>Treffen ganz leicht gemacht</h2>
        <p>
          Mach es dir in einem Sprachkanal gemütlich, wenn du Zeit hast und
          Freunde auf deinem Server können einfach dazukommen, ohne extra
          anrufen zu müssen.
        </p>
      </div>
      <img src="assets/pages/Home/second-main.svg" alt="s" />
    </div>
    <div class="third-container">
      <img src="assets/pages/Home/third-main.svg" alt="s" />
      <div style="margin-left: 50px" class="text">
        <h2>Von klein zu groß</h2>
        <p>
          Eine Community kann weder zu klein noch zu groß sein. Mit Tools zur
          Moderation und benutzerdefiniertem Zugang gibst du Mitgliedern
          besondere Rechte, erstellst private Kanäle und mehr.
        </p>
      </div>
    </div>
    <div class="forth-container">
      <div class="text">
        <h3>Zuverlässige Technik für persönliche Nähe</h3>
        <p>
          Sprach- und Bildübertragung mit geringer Latenz gibt dir das Gefühl,
          mit deinen Leuten im selben Raum zu sitzen. Winke im Video zur
          Begrüßung, schau Freunden zu, wenn sie Spiele streamen oder übertrage
          deinen Bildschirm für eine gemeinsame Malsession mit den anderen.
        </p>
      </div>
      <img class="lastPic" src="assets/pages/Home/forth-main.svg" alt="s" />
      <img src="assets/pages/Home/forth-stars.svg" alt="s" />
      <h4>Bereit, loszulegen?</h4>
      <app-button
        [buttonST]="button3ST"
        text="Download für Windows"
        [showDownIco]="true"
        [showBtn]="true"
        (click)="download()"
        [downIcoST]="downIcoST"
      ></app-button>
    </div>
  </div>
</div>
