<div class="hero-menu">
    <!-- <div class="logo-image"> -->
    <!-- <a class="discord-link" href="https://discord.com/"> -->
    <img src="assets/header_images/logo-small.svg" alt="mid-image">
    <!-- </a> -->
    <!-- </div> -->

    <ul class="nav-container">
        <!-- Herunterladen Nitro Entdecken Sicherheit Support Blog Jobs -->
        <li class="nav-item"><a class="nav-link" href="https://www.w3schools.com/">Herunterladen</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.w3schools.com/">Nitro</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.w3schools.com/">Entdecken</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.w3schools.com/">Sicherheit</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.w3schools.com/">Support</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.w3schools.com/">Blog</a></li>
        <li class="nav-item"><a class="nav-link" href="https://www.w3schools.com/">Jobs</a></li>
    </ul>

    <div class="login-button">
        <app-button class="btn btn-primary" text="{{login.text}}" backColor="{{login.backColor}}"
            color="{{login.color}}" font="{{login.font}}" padding="{{login.padding}}" [showBtn]="true">
        </app-button>
    </div>
</div>